
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(160, 151, 96);
    font-family: Arial, sans-serif;
  }
  
  .timer-container {
    text-align: center;
  }
  
  #timer {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  